@tailwind base;
@tailwind components;
@tailwind utilities;

 *{
  /* cool documentation page typography */
  font-family: 'Inter', sans-serif;

  /* hide y scrollbar */
  scrollbar-width: none;
}

/* Notes Styles */
.note {
  @apply my-4 py-4 px-6 border-l-8 shadow-lg rounded-md;
}

.note ul {
  @apply list-none p-0;
}

.note li {
  @apply mb-3 flex items-start;
}

.note code {
  @apply bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100 py-1 px-2 rounded-md shadow-md mr-2;
}

.note li:hover code {
  @apply transform scale-105 bg-gray-300 dark:bg-gray-700;
}

.explanation {
  @apply py-4 px-6 border-l-8 border-green-600 shadow-lg rounded-md my-4;
}

.explanation p {
  @apply m-0 font-bold text-green-600 dark:text-green-400 text-lg;
}

.explanation ul {
  @apply list-none p-0 m-0;
}

.explanation li {
  @apply mb-3 flex items-start;
}

.explanation code {
  @apply bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100 py-1 px-2 rounded-md shadow-md mr-2;
}

.explanation li:hover code {
  @apply bg-green-200 dark:bg-green-700;
}

.explanation strong {
  @apply text-pink-600;
}

.explanation em {
  @apply italic text-gray-600 dark:text-gray-300;
}



.terminal,
.browser {
  @apply bg-gray-100 dark:bg-black filter backdrop-blur-sm rounded-lg shadow-gray-500 shadow-sm my-4 overflow-hidden;
}


  .project-structure {
    @apply bg-[#1e1e1e] text-white p-6 shadow-lg rounded-lg max-w-lg;
  }

  .folder-name {
    @apply text-blue-400  dark:text-yellow-500 hover:bg-gray-500 rounded-md font-bold flex items-center;
  }

  .folder-content {
    @apply pl-6 border-l-2 border-blue-400;
  }

  .file {
    @apply text-green-400 my-1 font-medium flex items-center;
  }

  .file::before {
    content: '📄'; /* Adding a file icon before each file */
    @apply mr-2;
  }

  .folder-content .folder-content {
    @apply pl-4 border-l-2 border-dashed border-blue-400 ;
  }

  .folder {
    @apply my-2;
  }

  .folder .folder-name::before {
    content: '📁'; /* Adding a folder icon before each folder */
    @apply mr-2;
  }


/* FAQ Section Styles */
details {
  @apply my-4 shadow-lg transition-all duration-300 ease-in-out overflow-hidden rounded-lg;
}

details[open] {
  @apply shadow-2xl;
}

details summary {
  @apply py-3 px-6 cursor-pointer text-lg font-bold bg-[#1E3A8A] text-white dark:bg-[#3B82F6] dark:text-white border-b border-[#1E40AF] dark:border-[#60A5FA] relative rounded-t-lg;
}

details summary::after {
  @apply content-['\25BC'] absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform text-white dark:text-white;
}

details[open] summary::after {
  @apply rotate-180;
}

details summary::-webkit-details-marker {
  @apply hidden;
}

details p {
  @apply p-6 m-0 bg-[#F9FAFB] dark:bg-[#1F2937] text-[#1F2937] dark:text-[#F9FAFB] border-t border-[#E5E7EB] dark:border-[#374151] rounded-b-lg;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkbox-container {
  @apply flex items-center cursor-pointer my-2 p-2 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-lg shadow-lg transition-all;
}

.checkbox-container:hover {
  @apply shadow-2xl;
}

.checkbox-container input {
  @apply hidden;
}

.checkmark {
  @apply w-6 h-6 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md relative transition-all mr-2;
}

.checkbox-container input:checked + .checkmark {
  @apply bg-red-600 border-red-600 transform scale-110;
}

.checkmark::after {
  @apply content-[''] absolute hidden;
}

.checkbox-container input:checked + .checkmark::after {
  @apply block;
}

.checkmark::after {
  @apply left-2 top-1 w-1.5 h-3.5 border border-white border-t-0 border-l-0 transform rotate-45;
}

.checkbox-container .icon {
  @apply mr-2;
}

.checkbox-container .slot {
  @apply text-gray-900 dark:text-gray-100;
}


.toc {
  @apply p-4 bg-gray-100 dark:bg-gray-800/5 border border-gray-300/30 dark:border-gray-700/30 rounded-lg shadow-lg;
}

span  {
  @apply text-gray-700 dark:text-gray-300;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 10px;
}

.blur-on-hover {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
.blur-on-hover:hover, .blur-on-hover:focus, .blur-on-hover:active {
  filter: blur(0);
}

code, kbd, samp, pre {
  font-family: 'Fira Code', monospace !important;
  font-size: 1.1em !important;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  code, kbd, samp, pre {
    color: #d4d4d4 !important;
    background-color: #101014 !important;
  }
}